body,
html {
  margin: 0;
  padding: 4em;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 5em;
}

form input[type="text"] {
  font-size: 1.15em;
  padding: 0.5em;
}

form input[type="submit"] {
  font-size: 1.15em;
  padding: 0.6em;
  border: none;
  background-color: #555;
  color: #fff;
  appearance: none;
}

.results {
  max-width: 800px;
  margin: 0 auto;
}

.result-item {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.result-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}