* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  padding: 1em;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 5em;
}

form input[type="text"] {
  font-size: 1.15em;
  padding: 0.5em;
}

form input[type="submit"] {
  font-size: 1.15em;
  padding: 0.6em;
  border: none;
  background-color: #555;
  color: #fff;
  appearance: none;
}

.results {
  max-width: 800px;
  margin: 0 auto;
}

.result-item {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.result-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.results-view {
  display: flex;
  flex: 1 auto;
}

.snippet-list {
  width: 33.333%;
}

.snippet-list .results {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  padding-right: 2em;
}

.snippet-item {
  padding: 1em 2em;
  border: 1px solid #eee;
  margin-bottom: 1em;
  cursor: pointer;
}

.snippet-item:hover,
.snippet-item.selected {
  border-color: #999;
}

.snippet-item em {
  background-color: rgba(0, 0, 255, 0.15);
  font-style: normal;
}

.document-container {
  position: relative;
  width: 66.666%;
  background-color: #ccc;
  border: 1px solid #aaa;
}